@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root
{
    --dark-color: #1E1E1E;
    --light-dark-color: #252525;
    --lighter-dark-color: #2D2D2D;
    --flair-color: #E65632;
    --main-text-color: #fff;
}

*
{
    font-family: "Outfit";
    margin: 0;
}

a
{
    color: var(--main-text-color);
    cursor: pointer;
    position: relative;
}
a::after
{
    background-color: var(--flair-color);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: darken;
    position: absolute;
    transform: scale(0, 1);
    transform-origin: right;
    width: 100%;

    transition: transform 0.25s;
}
a:hover::after
{
    transform: scale(1, 1);
    transform-origin: left;
}

html
{
    background-color: var(--dark-color);
    color: white;
    font-size: 1.25vw;
}

header
{
    background-color: var(--lighter-dark-color);
    align-items: center;
    display: flex;
    height: 4vw;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    transition: all 0.2s;
}
header:hover
{
    height: 5vw;
}
header img
{
    margin: 0 1vw 0 2vw;
    height: 2.5vw;
}
header h3
{
    color: var(--flair-color);
}
header #header-title
{
    align-items: center;
    display: flex;
    width: 30%;
}
header #header-items
{
    text-align: left;
    width: 100%;
}
header #header-items *
{
    margin: 0 1vw;
}

h2
{
    color: var(--flair-color);
}

main
{
    margin: 5vw 15vw;
}
main h1, main h2
{
    margin-left: -5vw;
    margin-top: 3vw;
}
main h3, main h4, main h5, main h6
{
    margin-left: -3vw;
    margin-top: 1.5vw;
}

main .para
{
    margin-top: 7.5vw;
}

.nounderline
{
    text-decoration: none;
}

.title
{
    background-color: var(--light-dark-color);
    font-size: 2.5vw;
    padding: 10vw 2.5vw;
    text-align: center;
}
